@page "/coursesPage"
@inject ICourseService CourseService

<link href="/css/CourseStyles.css" rel="stylesheet" />

<h3 style="text-align:center">Courses Page</h3>

<div class="filter-container">
    <label for="locationFilter">Location:</label>
    <select id="locationFilter" @onchange="UpdateLocationFilter">
        <option value="All">All</option>
        <option value="Online">Online</option>
        <option value="In-Person">In-Person</option>
    </select>
</div>

<div class="card-container">
    @if (CourseService.Courses != null && CourseService.Courses.Any())
    {
        @foreach (var course in CourseService.Courses.Take(9).Where(course => selectedLocation == "All" || course.Location == selectedLocation))
        {
            <div class="card-wrapper">
                <div class="card">
                    <img src="@course.ImageUrl" class="card-img-top" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <p class="card-text">@course.Description</p>
                        <a href="/course/@course.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No courses found.</p>
    }
</div>

@code {
    string selectedLocation = "All";

    protected override async Task OnInitializedAsync()
    {
        await CourseService.GetCourses();
    }

    private void UpdateLocationFilter(ChangeEventArgs e)
    {
        selectedLocation = e.Value.ToString();
    }
}